cmake-build-debug
cmake-build-release
.DS_Store
third_party
build/
build-without-bitcode/
demo/cli/build/
lib/
include/
.vscode/
.vs/
.cxx
.gradle
local.properties
.idea
demo/cli/*.yuv
demo/cli/*.pcm
demo/cli/*.wav
*.swp
*.pyc
media_in
media_out
src/version.h